/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	
}


#container {
	
}


span.oreo {
	color: #26b67c;
	font-size: 250px;
	position: absolute;
	bottom: 500px;
	right: 100px;
	offset-rotate: 45deg;
	text-shadow: 50px 50px 5px black;
}

span.period {
	color: #b327b7;
	font-size: 50em;
	position: absolute;
	right: 25px;
	left: 50px;
	bottom: 400px;
	opacity: 0.7;
	text-shadow: 20px 20px 10px black;
}
